<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body>
    <div class="header">
        <div class="main">
            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="mailto:francineginares@gmail.com">Contact Me</a></li>
                </ul>
            </div>

        </div>
        <div class="img">
            <img src="images/josuke.webp" alt="">
        </div>
        <div class="left-text">
            <p><span class="hello-text">HELLO</span></p>
            <p>THIS IS <span class="name">HIGASHIKATA JOSUKE</span> AND</p>
            <p style="font-size: 30px; color: aliceblue;">I am the Protagonist on <span style="font-size: 40px; color: darkturquoise;">Diamond is Unbreakable</span></p>
            <p class="jjba">JOJO'S BIZZARE ADVENTURE</p>
        </div>
    </div>
    <!-- project Section -->
    <section>
        <div class="project-div">
            <div class="text-heading">
                <h1 class="heading">Projects</h1>
            </div>
            <div class="project-image">
                <div class="projects">
                    <a href="project/4"><img src="images/payday 2.webp" alt=""></a>
                    <a href="project/2"><img src="images/yuko.jpg" alt=""></a>
                    <a href="project/5"><img src="images/ep 21.jpg" alt=""></a>
                </div>

            </div>
        </div>
    </section>
    <section class="about-me" id="about-me">
        <div class="aboutme-div">
            <h1 class="heading">About Me</h1>
            <div class="details">
                <div class="left-image">
                    <img src="images/josuke2.webp" alt="">
                </div>
                <div class="icons">
                    <a href="mailto:francineginares@gmail.com"><img src="images/email.png" width="65px" height="60" alt=""></a>
                    <img src="images/crazy diamond.webp" width="150px" height="300" alt="">
                </div>
                <div class="right-text">
                    <h2><span style="color: aliceblue;">I</span> <span class="myname">HIGASHIKATA JOSUKE </span><span style="color: aliceblue;"> am a</span></h2>
                    <div style="color: aliceblue;">
                    <p> Stand user that wields <span style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px; color: darkturquoise;">Crazy Diamond</span>, a Stand with the power to repair almost anything.</p>
                    <p> Biracial (half-Japanese and half-British) first-year high school student residing in the town of <span style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: deeppink;">Morioh</span>.</p>
                    </div>
                   <button style="text-align: center;"><a href="https://jojowiki.com/Josuke_Higashikata">SEE MORE</a></button>
                </div>

            </div>

        </div>
    </section>
</body>
</html>